<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basic Boutique</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/resources/scss/base.css">
    <link rel="stylesheet" href="/public/resources/scss/styles.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/responsive.css"/> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.15.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    
</head>
<!-- Footer -->
<footer id="plm-footer" class="footer">

	<div class="plm-footer--b">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-12 col-ft">
					<div class="footer-col footer-block">
						<div class="footer-content">
							<div class="logo-footer">
								<img src="https://file.hstatic.net/200000032664/file/logo-footer_c65a13cbfd364931bb712ed249d15dda.png">
							</div>
							<p>Được thành lập vào đầu năm 2020, với định hướng trở thành thương hiệu thời trang chuyên biệt cùng tham vọng khi nói về sản phẩm áo Polo, khách hàng sẽ nghĩ ngay đến POLOMAN </p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-12 col-ft">
					<div class="footer-col footer-block toggle-footer">
						<h4 class="footer-title">
							<span>HỖ TRỢ KHÁCH HÀNG</span>
							<span class="plus-button"><i class="fa fa-caret-down"></i></span>
						</h4>
						<div class="footer-content">
							<ul>
								<li class="item">
									<a href="/search" title="Tìm kiếm">Tìm kiếm</a>
								</li>
								<li class="item">
									<a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">Chính sách bảo mật</a>
								</li>
								<li class="item">
									<a href="/pages/chinh-sach-bao-hanh" title="Chính sách bảo hành">Chính sách bảo hành</a>
								</li>
								<li class="item">
									<a href="/pages/chinh-sach-doi-tra-1" title="Chính sách đổi trả">Chính sách đổi trả</a>
								</li>
								<li class="item">
									<a href="/pages/huong-dan-dat-hang" title="Hướng dẫn đặt hàng">Hướng dẫn đặt hàng</a>
								</li>
								<li class="item">
									<a href="/pages/huong-dan-chon-size" title="Hướng dẫn chọn size">Hướng dẫn chọn size</a>
								</li>
								<li class="item">
									<a href="/pages/khach-hang-than-thiet" title="Khách hàng thân thiết">Khách hàng thân thiết</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-12 col-ft">
					<div class="footer-col footer-block">
						<h4 class="footer-title">
							<span>Fanpage</span>
						</h4>
						<div class="footer-content ">					
							<div class="footer-static-content"> 
								<div class="fb-page" data-href="https://www.facebook.com/BoutiqueBasic"  data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">	</div>
							</div>
							<div style="clear:both;" ></div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-12 col-ft">
					<div class="footer-col footer-block">
						<h4 class="footer-title">
							<span>Tổng đài gọi hỗ trợ</span>
						</h4>
						<div class="footer-content">
							<ul>
								<li>Mua hàng online: <a href="tel:0877747777">0877 74 77 77</a></li>
								<li>Góp ý, khiếu nại: <a href="tel:0877747777">0877 74 77 77</a> </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-12 col-ft">
					<div class="footer-col footer-block">
						<h4 class="footer-title">
							<span>Phương thức thanh toán</span>
						</h4>
						<div class="footer-content payment-list">
							<ul class="">
								<li class="item">
									<a href="" target="_blank" rel="nofollow">
										<img data-src="https://file.hstatic.net/200000223113/file/icon-tien-mat-payment_a970c058a12040f2846127250b202c00.jpg" alt="" class="lazyload"/>
									</a>
								</li>
								<li class="item">
									<a href="" target="_blank" rel="nofollow">
										<img data-src="https://theme.hstatic.net/1000036599/1000554478/14/trademark_1.png" alt="" class="lazyload"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-12 col-ft">
					<div class="footer-col footer-block">
						<h4 class="footer-title">
							<span>Kết nối với chúng tôi</span>
						</h4>
						<div class="footer-content social-list">
							<ul class="">
								<li class="item">
									<a href="https://www.facebook.com/BoutiqueBasic" target="_blank" rel="nofollow">
										<!-- <img data-src="https://facebookbrand.com/wp-content/uploads/2019/10/Copy-of-facebook-app.svg" alt="social" class="lazyload"/>
                                         -->
                                         <i class="fab fa-facebook"></i>
									</a>
								</li>
								<li class="item">
									<a href="https://www.instagram.com/poloman_vn/" target="_blank" rel="nofollow">
										<img data-src="https://facebookbrand.com/wp-content/uploads/2019/10/Copy-of-instagram.svg" alt="social" class="lazyload"/>
									</a>
								</li>
								<li class="item">
									<a href="" target="_blank" rel="nofollow">
										<img data-src="https://www.pngkit.com/png/full/42-425199_youtube-white-icon-social-media-icon-png-and.png" alt="social" class="lazyload"/>
									</a>
								</li>
								<li class="item">
									<a href="" target="_blank" rel="nofollow">
										<img data-src="https://file.hstatic.net/200000032664/file/zalo-1-logo-black-and-white_188d9e7eac104dffa51680d4117931a7.png" alt="social" class="lazyload"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="plm-footer--copyright">
		<div class="container">
			<p>© 2021 POLOMAN | Hộ kinh doanh POLOMAN - 17A Kênh 19/5 phường Sơn Kỳ quận Tân Phú | Mã số thuế 0315916854 cấp ngày 20/09/2019
</p>
		</div>
	</div>
</footer>

