<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basic Boutique</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/resources/scss/base.css">
    <link rel="stylesheet" href="/public/resources/scss/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/responsive.css"/> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.15.2-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> -->
    
</head>
<header>
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-branch" href="/">
			<img class="img-logo" src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.6435-9/172299181_1026120891250593_7005106328517532554_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=Rjl1RPdoqKwAX9l2D-v&_nc_ht=scontent.fsgn5-6.fna&oh=c3b8a3a6a025aada8364f9fcb3b22458&oe=6098EE3D">
		</a>
		<div class="search-box">
			<input class="search-input" type="text" placeholder="Tìm kiếm">
			<button class="btn-search">
				<i class="fas fa-search white"></i>
			</button>
		</div>	
		<button class="navbar-toggler" type="button" data-toggle="collapse" 
			data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item separate">
					<a class="nav-link" href="/public/resources/views/loginForm/login.html">Đăng nhập</a>
				</li>
				<li class="nav-item separate">
					<a class="nav-link" href="/user/register">Đăng ký</a>
				</li>	
				<li class="nav-item">
					<a class="nav-link" href="/">
						<i class="fas fa-shopping-cart"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</header>