<div class="mt-4">
    <h3>Sửa sản phẩm</h3>

    <form class="mt-4" method="POST" action="/products/{{product._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" value="{{product.name}}" id="name" name="name">
        </div>
        
        <div class="form-group">
            <label for="price">Giá</label>
            <textarea class="form-control" id="price" name="price">{{product.price}}</textarea>
        </div>
            
        <div class="form-group">
            <label for="image">Link hình ảnh</label>
            <input type="text" class="form-control" value="{{product.image}}" id="image" name="image">
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
</div>