<!-- Carousel -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>		
		<li data-target="#slides" data-slide-to="3"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="https://cdn-www.vinid.net/2020/02/20200218_AppVinID_BannerWeb_Coolmate.jpg">
		</div>
		<div class="carousel-item">
			<img src="https://cf.shopee.vn/file/63f94886f9ae450e08ce006e2a4e8c6c">
		</div>
		<div class="carousel-item">
			<img src="https://cdn-www.vinid.net/2020/02/20200218_AppVinID_BannerWeb_Coolmate.jpg">
		</div>
		<div class="carousel-item">
			<img src="https://cf.shopee.vn/file/63f94886f9ae450e08ce006e2a4e8c6c">
		</div>
	</div>
</div>

<div class="container mt-4">
    <div class="row">
        {{#each products}}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <a href="/products/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/products/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
					<div class="rating">
						<span><i class="fa fa-start" id="rating"></i>*{{this.rating}}</span>
					</div>
					<div class="price">						
						<p class="card-text">{{this.price}} VNĐ</p>
					</div>
					<a href="#" class="btn btn-primary">Mua ngay</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>